/* include local fonts */

@font-face {
   font-family: GistUprightExtraboldDemo;
   src: url(../fonts/GistUprightExtraboldDemo.otf);
}
@font-face {
   font-family: GistUprightExtraboldDemo;
   src: url(../fonts/GistLight.otf);
}
@font-face {
   font-family: Nobel;
   src: url(../fonts/ufonts.com_nobel-light.ttf);
}

.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

/* HEADER */ 

header {
   height: 560px;
   background-color: #74d4ec;
}
.container {
   width: 1227px;
   margin: 0 auto;
}
.navbar {
   position: fixed;
   height: 49px;
   width: 345px;
   padding-top: 25px;
   z-index: 10;
}
header li {
   display: inline-block;
   height: 49px;
   width: 105px;
   font: 300 24px / 22px Nobel;
   letter-spacing: -0.5px;
}
a {
   text-decoration: none;
   color: #ffffff;
}
.first-word {
   color: #1200ff;
   font: 300 36px / 22px Nobel;
   color: #1200ff;
}
.header__h1 {
   width: 635px;
   height: 136px;
   margin: 0 auto 30px auto;
   padding-top: 110px;
}
.header__h1__word {
   display: inline-block;
   width: 449px;
   height: 131px;
   background: url(../img/Team--.png); 
}
.header__h1__number {
   display: inline-block;
   height: 136px;
   width: 159px;
   margin-left: 20px;
   background: url(../img/12.png); 
}
.horizontal-line { 
   height: 15px;
   width: 637px;
   margin: 0 auto;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
.header__h2 {
   height: 73px;
   width: 300px;
   margin: 20px auto 0 auto;
   background: url(../img/Go-for-IT.png); 
}

/* PICTURE WEB */ 

.picture_web {
   height: 455px;
   background: url(../img/picture_web.png); 
   margin-top: 20px;
   background-size: cover;
   background-repeat: no-repeat;
}

/* CAROUSEL */

.who-we-are {
   margin-top: 20px;
   background-color: #05ffa0;
}
.who-we-are__title {
   width: 65px;
   height: 49px;
   padding-top: 17px;
   font: 300 24px / 22px Nobel;
   letter-spacing: -0.5px;
   color: #ffffff;
   margin-bottom: 34px;
}
#owl-demo .item img{
   display: block;
   width: 100%;
   height: auto;
}
.owl-buttons {
   display: none;
}
.owl-theme .owl-controls {
   margin-top: 32px;
   padding-bottom: 40px;
}
.owl-theme .owl-controls .owl-page span {
   height: 26px;
   width: 26px;
   background-color: #ffffff;
}

/* OUR PROJECT */

.we_made{
   padding-bottom: 2%;
   background-color: #e3b33e;
   margin-top: 20px;
}
.what-we-made__title {
   height: 49px;
   width: 80px;
   padding-top: 32px;
   font: 300 24px / 22px Nobel;
   letter-spacing: -0.5px;
   color: #ffffff;
}
.we-made__h2 {
   height: 54px;
   width: 316px;
   margin: 0 auto;
   background: url(../img/Web---studio.png); 
}
.row {
   width: 90%;
   margin: 3% auto 0 auto;   
}

.row__block1 {
   display: inline-block;
   width: 48%;
   background-color: #a4812d;
   border-radius: 10px;
   background: url(../img/mac.png), url(../img/brown.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
}
.row__block2{
   display: inline-block;
   width: 48%;
   background-color: #a4812d;
   margin-left: 3%;
   border-radius: 10px;
   background: url(../img/dis2.png), url(../img/brown.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
}
.row__block3 {
   display: inline-block;
   width: 48%;
   background-color: #a4812d;
   border-radius: 10px;
   background: url(../img/disign.png), url(../img/brown.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
}
.row__block4 {
   display: inline-block;
   width: 48%;
   background-color: #a4812d;
   margin-left: 3%;
   border-radius: 10px;
   background: url(../img/7d0e8f8ebc74c8799fe04e8867dacf60.png), url(../img/brown.png);
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
}

/* WE TEAM */

.we_team {
   margin-top: 20px;
   background-color: #74d4ec;
}
.we_team__title {
   height: 49px;
   width: 110px;
   padding-top: 38px;
   font: 300 24px / 22px Nobel;
   letter-spacing: -0.5px;
   color: #ffffff;
}
.team-tree__container {
   width: 90%;
   margin: 0 auto;
   background: url(../img/Why_we-_are_team.png); 
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
}

/* FOOTER */ 

footer {
   height: 63px;
   background-color: #cba675;
   margin-top: 20px;
}
.back {
   color: #ffffff;
   font: 300 24px / 63px Nobel;
   float: left;
   cursor: pointer;
}
.copyright {
   color: #ffffff;
   font-family: 'Minion Pro';
   font-size: 12px;
   font-weight: 400;
   float: right;
   margin-top: 45px;
}