<div class="about section" data-section="about">
    <div class="container">
        <h4 class="subheader__first subheader__first--about animated hidden delay-02s">first you should know</h4>
        <h2 class="header__second header__second--about animated hidden"><span class="header--bold">about</span> me</h2>
        <div class="card card--about animated hidden">
            <div class="about__photo"></div>
            <h3 class="about__name">Sviatoslav Koloda</h3>
            <h4 class="about__position">Front-end Developer</h4>
            <p class="about__introduction">I'm developer with six-month experience. I take full responsibility for my work and mistakes. I do the job quickly and efficiently. I want to implement my skills on interesting and really useful projects and will be glad to work with you as a team. </p>
            <a href="build/project/Koloda_Sviatoslav.pdf" class="download-cv" download>Download CV</a>
            <div class="about__socials">
                <div class="socials__item animated hidden">
                    <a href="https://github.com/SviatoslavK" class="socials__link social__link--github" target="_blank"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
                </div>
                <div class="socials__item animated hidden delay-02s">
                    <a href="https://www.facebook.com/profile.php?id=100000803586680" class="socials__link social__link--facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <div class="socials__item animated hidden delay-04s">
                    <a href="https://vk.com/id87590833" class="socials__link social__link--vk" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                </div>
                <div class="socials__item animated hidden delay-06s">
                    <a href="https://ua.linkedin.com/in/sviatoslav-koloda-21682bb8" class="socials__link social__link--linkedin" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="socials__item animated hidden delay-08s">
                    <a href="mailto:kolodaslav@gmail.com " class="socials__link social__link--mail" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>