<div class="education section" data-section="education">
    <div class="container">
        <h4 class="subheader__first subheader__first--education animated hidden delay-02s">places where I received</h4>
        <h2 class="header__second header__second--education animated hidden" > <span class="header--bold">education</span></h2>
        <div class="vertical-line--education">
            <div class="education__dots education__dots--dot1"></div>
            <div class="education__dots education__dots--dot2"></div>
            <div class="education__dots education__dots--dot3"></div>
            <div class="education__dots education__dots--dot4"></div>
            <div class="education__dots education__dots--dot5"></div>
        </div>
        <div class="card card--education hidden animated" id="nnn">
            <span class="card__year--education">2016</span>
            <h4 class="card__header--education">Junior Frontend developer</h4>
            <p class="card__faculty--education">Courses GoFrontend</p>
            <p class="card__description--education"></p>
            <p class="card__university--education">GoIT company</p>
        </div>
        <div class="card card--education hidden animated">
            <span class="card__year--education">2016</span>
            <h4 class="card__header--education">Courses "Basic Web UI development"</h4>
            <p class="card__description--education"></p>
            <p class="card__university--education">Lviv IT-school</p>
        </div>
        <div class="card card--education hidden animated">
            <span class="card__year--education">2015 - 2016</span>
            <h4 class="card__header--education">Full Stack Web Development Certification</h4>
            <p class="card__faculty--education">Computer Software Engineering</p>
            <p class="card__description--education"></p>
            <p class="card__university--education">FreeCodeCamp</p>
        </div>
        <div class="card card--education hidden animated">
            <span class="card__year--education">2015</span>
            <h4 class="card__header--education">Trainee Frontend developer</h4>
            <p class="card__faculty--education">Courses "I FRONTEND - DEVELOPER"</p>
            <p class="card__description--education"></p>
            <p class="card__university--education">With the support of the United Nations</p>
        </div>
        <div class="card card--education hidden animated">
            <span class="card__year--education">2007 - 2012</span>
            <h4 class="card__header--education">Master of Engineering</h4>
            <p class="card__faculty--education">Automations, automation and computer - integrated technologies on transport</p>
            <p class="card__university--education">Dnipropetrovsk State Technical University of Railway Transport</p>
        </div>
    </div>
</div>