<div class="footer">
    <div class="container">
        <div class="footer__item">
            <i class="fa fa-mobile fa-2x footer-icon" aria-hidden="true"></i>
            <span class="footer__text">Phone</span>
            <span class="footer__text">+38(099) 309-27-21</span>
        </div>
        <div class="footer__item">
            <i class="fa fa-map-marker fa-2x footer-icon" aria-hidden="true"></i>
            <span class="footer__text">Location</span>
            <span class="footer__text">Kiev</span>
        </div>
        <div class="footer__item">
            <i class="fa fa-envelope-o fa-2x footer-icon" aria-hidden="true"></i>
            <span class="footer__text">Mail</span>
            <span class="footer__text">kolodaslav@gmail.com</span>
        </div>
        <p class="footer__develop"></p>
    </div>
</div>
