<header class="header section" data-section="header">
    <div class="header__cloud">
        <div class="header__overlay">
            <div class="container">
                <div class="header__text">
                    <h3 class="header__h3">Hello, my name is Sviatoslav and I am</h3>
                    <h2 class="header__h2">Front-End Developer</h2>
                </div>

            </div>
        </div>
        <nav class="header__nav">
            <button class="nav__button" id="nav-toggle">
                <div class="nav__bars bars--one"></div>
                <div class="nav__bars bars--two"></div>
                <div class="nav__bars bars--three"></div>
            </button>
            <ul class="nav__list nav" id="nav-list">
                <li class="nav__item"><a href=".header" class="nav__link">Home</a></li>
                <li class="nav__item"><a href=".about" class="nav__link">about</a></li>
                <li class="nav__item"><a href=".skills" class="nav__link">skills</a></li>
                <li class="nav__item"><a href=".education" class="nav__link">education</a></li>
                <li class="nav__item"><a href=".portfolio" class="nav__link">portfolio</a></li>
            </ul>
        </nav>
        <nav class="header__nav--desktop">
            <ul class="nav__list--desktop nav">
                <li class="nav__item--desktop"><a href=".header" class="nav__link--desktop">Home</a></li>
                <li class="nav__item--desktop"><a href=".about" class="nav__link--desktop">about</a></li>
                <li class="nav__item--desktop"><a href=".skills" class="nav__link--desktop">skills</a></li>
                <li class="nav__item--desktop"><a href=".education" class="nav__link--desktop">education</a></li>
                <li class="nav__item--desktop"><a href=".portfolio" class="nav__link--desktop">portfolio</a></li>
            </ul>
        </nav>
    </div>
</header>
