<div class="portfolio section" data-section="portfolio">
    <div class="container">
        <h4 class="subheader__first subheader__first--portfolio animated hidden delay-02s">appreciate my work in </h4>
        <h2 class="header__second header__second--portfolio animated hidden" >the <span class="header--bold">portfolio</span></h2>
        <div class="masonry-grid">
            
            <div class="portfolio__item portfolio__item--item1 portfolio__item--width2 ">
                <div class="portfolio__overlay">
                    <h3 class="overlay__name--portfolio animated hidden">Build business</h3>
                    <a href="https://github.com/SviatoslavK/GoIT_JS_19-20" class="overlay__link overlay__link--code animated hidden tooltip-up" target="_blank" data-tooltip="View code on GitHub">
                        <i class="fa fa-code icon--big" aria-hidden="true"></i>
                    </a>
                    <a href="https://sviatoslavk.github.io/GoIT_JS_19-20/build/" class="overlay__link overlay__link--view animated hidden delay-02s tooltip-right" target="_blank" data-tooltip="View web page">
                        <i class="fa fa-link icon--big" aria-hidden="true"></i>
                    </a>
                </div>
                <img src="build/img/background/builds.png" alt="." class="portfolio__img">
            </div>
            <div class="portfolio__item portfolio__item--item2 ">
                <div class="portfolio__overlay">
                    <h3 class="overlay__name--portfolio animated hidden">Pingbuller</h3>
                    <a href="https://github.com/SviatoslavK/GoIt-HW-7" class="overlay__link overlay__link--code animated hidden tooltip-up" target="_blank" data-tooltip="View code on GitHub">
                        <i class="fa fa-code icon--big" aria-hidden="true"></i>
                    </a>
                    <a href="https://sviatoslavk.github.io/GoIt-HW-7/" class="overlay__link overlay__link--view animated hidden delay-02s tooltip-right" target="_blank" data-tooltip="View web page">
                        <i class="fa fa-link icon--big" aria-hidden="true"></i>
                    </a>
                </div>
                <img src="build/img/background/pingbuller.jpg" alt="." class="portfolio__img">
            </div>
            <div class="portfolio__item portfolio__item--item3 portfolio__item--width2 ">
                <div class="portfolio__overlay">
                    <h3 class="overlay__name--portfolio animated hidden">find partner</h3>
                    <a href="https://github.com/SviatoslavK/GoIT_Final" class="overlay__link overlay__link--code animated hidden tooltip-up" target="_blank" data-tooltip="View code on GitHub">
                        <i class="fa fa-code icon--big" aria-hidden="true"></i>
                    </a>
                    <a href="https://sviatoslavk.github.io/GoIT_Final/build" class="overlay__link overlay__link--view animated hidden delay-02s tooltip-right" target="_blank" data-tooltip="View web page">
                        <i class="fa fa-link icon--big" aria-hidden="true"></i>
                    </a>
                </div>
                <img src="build/img/background/holiday.png" alt="." class="portfolio__img">
            </div>
            <div class="portfolio__item portfolio__item--item4 ">
                <div class="portfolio__overlay">
                    <h3 class="overlay__name--portfolio animated hidden">natural charm</h3>
                    <a href="https://github.com/SviatoslavK/NaturalCharm" class="overlay__link overlay__link--code animated hidden tooltip-up" target="_blank" data-tooltip="View code on GitHub">
                        <i class="fa fa-code icon--big" aria-hidden="true"></i>
                    </a>
                    <a href="https://sviatoslavk.github.io/NaturalCharm/" class="overlay__link overlay__link--view animated hidden delay-02s tooltip-right" target="_blank" data-tooltip="View web page">
                        <i class="fa fa-link icon--big" aria-hidden="true"></i>
                    </a>
                </div>
                <img src="build/img/background/natural.jpg" alt="." class="portfolio__img">
            </div>
            <div class="portfolio__item portfolio__item--item5 ">
                <div class="portfolio__overlay">
                    <h3 class="overlay__name--portfolio animated hidden">GoIT Team</h3>
                    <a href="" class="overlay__link overlay__link--code animated hidden tooltip-up" target="_blank" data-tooltip="View code on GitHub">
                        <i class="fa fa-code icon--big" aria-hidden="true"></i>
                    </a>
                    <a href="build/project/goit/index.html" class="overlay__link overlay__link--view animated hidden delay-02s tooltip-right" target="_blank" data-tooltip="View web page">
                        <i class="fa fa-link icon--big" aria-hidden="true"></i>
                    </a>
                </div>
                <img src="build/img/background/team.jpg" alt="." class="portfolio__img">
            </div>
            <div class="portfolio__item portfolio__item--item6 ">
                <div class="portfolio__overlay">
                    <h3 class="overlay__name--portfolio animated hidden">MVC ToDo</h3>
                    <a href="https://github.com/SviatoslavK/GoIT_JS_23-24" class="overlay__link overlay__link--code animated hidden tooltip-up" target="_blank" data-tooltip="View code on GitHub">
                        <i class="fa fa-code icon--big" aria-hidden="true"></i>
                    </a>
                    <a href="https://sviatoslavk.github.io/ToDo-App/" class="overlay__link overlay__link--view animated hidden delay-02s tooltip-right" target="_blank" data-tooltip="View web page">
                        <i class="fa fa-link icon--big" aria-hidden="true"></i>
                    </a>
                </div>
                <img src="build/img/background/todo.jpg" alt="." class="portfolio__img">
            </div>
        </div>
    </div>
</div>