<div class="skills section" data-section="skills">
    <div class="container">
        <h4 class="subheader__first subheader__first--skills animated hidden delay-02s">look at my</h4>
        <h2 class="header__second header__second--skills animated hidden" ><span class="header--bold">skills</span></h2>
        <div class="card card--skills animated hidden">
            <div class="skills__item skills__item--item1">
                <h3 class="card__header--skills">Technical</h3>
                <div class="skillbar" data-percent="90%">
                    <div class="skillbar__title">HTML</div>
                    <div class="skillbar__bar skillsbar__bar--html"></div>
                    <div class="skillbar__percent">90%</div>
                </div>
                <div class="skillbar" data-percent="90%">
                    <div class="skillbar__title">CSS</div>
                    <div class="skillbar__bar skillsbar__bar--css"></div>
                    <div class="skillbar__percent">85%</div>
                </div>
                <div class="skillbar" data-percent="75%">
                    <div class="skillbar__title">JavaScript</div>
                    <div class="skillbar__bar skillsbar__bar--js"></div>
                    <div class="skillbar__percent">75%</div>
                </div>
                <div class="skillbar" data-percent="90%">
                    <div class="skillbar__title">jQuery</div>
                    <div class="skillbar__bar skillsbar__bar--jquery"></div>
                    <div class="skillbar__percent">70%</div>
                </div>
                <div class="skillbar" data-percent="90%">
                    <div class="skillbar__title">SASS</div>
                    <div class="skillbar__bar skillsbar__bar--sass"></div>
                    <div class="skillbar__percent">80%</div>
                </div>
            </div>
            <div class="skills__item skills__item--item2">
                <h3 class="card__header--skills">Software</h3>
                <div class="skillbar" data-percent="90%">
                    <div class="skillbar__title">Gulp</div>
                    <div class="skillbar__bar skillsbar__bar--gulp"></div>
                    <div class="skillbar__percent">85%</div>
                </div>
                <div class="skillbar" data-percent="90%">
                    <div class="skillbar__title">Bower</div>
                    <div class="skillbar__bar skillsbar__bar--bower"></div>
                    <div class="skillbar__percent">85%</div>
                </div>
                <div class="skillbar" data-percent="75%">
                    <div class="skillbar__title">Git</div>
                    <div class="skillbar__bar skillsbar__bar--git"></div>
                    <div class="skillbar__percent">90%</div>
                </div>
                <div class="skillbar" data-percent="75%">
                    <div class="skillbar__title">Emmet</div>
                    <div class="skillbar__bar skillsbar__bar--emmet"></div>
                    <div class="skillbar__percent">90%</div>
                </div>
                <div class="skillbar" data-percent="75%">
                    <div class="skillbar__title">BEM-methodology</div>
                    <div class="skillbar__bar skillsbar__bar--bem"></div>
                    <div class="skillbar__percent">95%</div>
                </div>
            </div>
        </div>
    </div>
</div>