@import "_variables";

// Media-queries mixin. Mobile first method
@mixin respond-to($media) {
    @if $media == mobile {
        @media (max-width: $big-mobile - 1) { @content; }
    }
    @else if $media == big-mobile {
        @media (min-width: $big-mobile) { @content; }
    }
    @else if $media == tablet {
        @media (min-width: $tablet) { @content; }
    }
    @else if $media == desktop {
        @media (min-width: $desktop) { @content; }
    }
}

//
@mixin desktop {
    @include respond-to(desktop) {
        @content
            }
    .old-ie & {
        @content
            }
}

// Background mixin
@mixin background {
    background: {
        position: center center;
        size: cover;
    }
}

// Animations
@keyframes cloud-move {   /* назовём анимацию: "go-left-right" */
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}
@-webkit-keyframes cloud-move {
    from {
        background-position: left;
    }
    to {
        background-position: right;
    }
}

// Material shadow
@mixin card-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

// Font
body {
    font-family: 'Raleway', sans-serif;
    background-color: #f2f2f2;
}
// Responsive image
img {
    width: 100%;
}
// Utility classes
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    margin: auto;
}
.container {
    width: 320px;
    margin: 0 auto;
    @include respond-to(big-mobile) {
        width: 480px;
    }
    @include respond-to(tablet) {
        width: 768px;
    }
    @include desktop {
        width: 960px;
    }
}
.hide {
    display: none;
}
.hidden {
    visibility: hidden;
}
.fadeOutLeft,
.fadeInLeft,
.fadeOutRight,
.fadeInRight,
.fadeInUp,
.fadeOutUp,
.fadeOutDown,
.flipInX,
.flipOutX,
.flipInY,
.flipOutY,
.fadeIn,
.fadeOut {
	visibility: visible;
}
.delay-02s {
    animation-delay: .2s;
}
.delay-04s {
    animation-delay: .4s;
}
.delay-06s {
    animation-delay: .6s;
}
.delay-08s {
    animation-delay: .8s;
}
.subheader__first {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 9px;
    letter-spacing: 1px;
    @include respond-to(tablet) {
        font-size: 12px;
    }
}
.header__second {
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
    font-size: 32px;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 200;
    @include respond-to(tablet) {
        font-size: 40px;
    }
    @include desktop {
        font-size: 44px;
    }
}
.header--bold {
    font-weight: bold;
}
.card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include card-shadow;
}
